<!DOCTYPE html>
<html>
<head>
  <title>StoryTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='navbar navbar-default navbar-fixed-top'>
      <a class='pull-left' href="#">Story Time</a>
    </div>
<div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
</div>
</body>
</html>
